fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain-huggingface
langchain_chroma

chromadb
faiss-cpu

transformers
torch
sentence-transformers

pypdf
python-dotenv

pytest
