fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain-huggingface
langchain_chroma
langchain-text-splitters

chromadb
faiss-cpu

transformers
torch
sentence-transformers

pypdf
python-dotenv
python-multipart

pytest
